<h1>Hi @client name</h1>

<% @invoices.each do |invoice| %>
  <p> Invoice Nr.: <%= invoice.invoice_date %></p>
  <p> Date: <%= invoice.invoice_date %></p>
  <%= link_to "Show", invoice_path(invoice) %>
<% end %>
<br>


