/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

$light-gray: rgba(209, 207, 207, 1);
$grape: rgba(13, 6, 48, 1);
$blue: #2B4162;
$white: rgba(243, 247, 240, 1);
$dark-purple: rgba(64, 31, 62, 1);
$white-purple: #f2f2f2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #4f2f4c;
$cta-color: #cdfa02;
$lightpurple: #d6bbdf;

$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$translucent-darkest-blue: #20202a;
$dark-blue: #20202a;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
