.banner {
  background: center no-repeat;
  background-size: cover !important;
  position: relative;
  color: white;
  text-align: center;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 1px 5px 30px $grape;
  h {
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  }
  h1 {
    color: $white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h3 {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
  }
  a {
   text-decoration: none;
 }
}
.banner .banner-content .tutorial {
  margin: 30px 0;
  a {
    margin-top: 15px;
  }
}
.card {
  padding: 10px 10px;
  border-radius: 4px;
  background-color: #BEBFC2;
  height: 250px;
  box-shadow: 2px 2px 3px 0px rgb(225,225,225);
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-size: cover !important;
  text-align: center;
  color: white;
  position: relative;
  h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
}
.tree-box-margin{
  margin: 80px 10px;
}
.two-box-margin{
  margin: 0 10px 30px 10px;
}
.one-box-margin{
  margin: 50px 10px 80px 10px;
}
