<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="form-container">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
