<%= render 'invoice_show' %>

<h1 class="btn btn-invoice">  <%= link_to 'go back to dashboard', dashboard_path %></h1>
<h2 class="btn btn-invoice">  <%= link_to 'edit', edit_invoice_path(@invoice) %></h2>

