<%= render 'invoice_show' %>

<h1 class="btn btn-invoice">  <%= link_to 'Download PDF', invoice_path(@invoice, :format => :pdf), :target => '_blank' %></h1>
<h1 class="btn btn-invoice">  <%= link_to 'go back to dashboard', dashboard_path %></h1>
<h1 class="btn btn-invoice">  <%= link_to 'edit', edit_invoice_path(@invoice) %></h1>

