<div class="text-center">
<%= link_to user_google_oauth2_omniauth_authorize_path, class: "googleplus" do %>
 <%= image_tag 'btn-google-dark.png' %>
 <% end %>
</div>


<!-- | <div class="pull-right"> Sign in with Google</div> -->