<div class="footer-container fluid-container">
    <div class="container" id="footer">
      <div class="row footer-row">
        <div class="col-xs-6 col-md-4 text-center">
          <!-- social icons -->
          <a href="#" class="li-social footer-links">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="li-social footer-links">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="li-social footer-links">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs-6 col-md-8 footer-col">
          <span class="footer-links footer-text-links">
            <%= link_to t('shared.footer.contact-us'), 'mailto:invictus.invoice@gmail.com' %>
          </span>
<!--           <span class="footer-links footer-text-links">
            <%= link_to t('shared.footer.terms-conditions'), '#' %>
          </span> -->
          <span class="footer-links footer-text-links">
            <%= link_to t('shared.footer.team'), '#' %>
          </span>
          <style>
          </style>
        </div>
     </div>
   </div>

 <div class="copy-right">
   <p><%= t('shared.footer.copy-right') %></p>
 </div>
</div>
