<div class="footer-container fluid-container">
    <div class="container" id="footer">
      <div class="row footer-row">
        <div class="col-xs-6 col-md-4 text-center">
          <!-- social icons -->
          <a href="#" class="li-social footer-links">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="li-social footer-links">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="li-social footer-links">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs-6 col-md-8 footer-col">
          <span class="footer-links footer-text-links">
            <%= link_to 'Contact Us', '#' %>
          </span>
          <span class="footer-links footer-text-links">
            <%= link_to 'Terms & Conditions', '#' %>
          </span>
          <span class="footer-links footer-text-links">
            <%= link_to 'The Team', '#' %>
          </span>
          <style>
          </style>
        </div>
     </div>
   </div>

 <div class="copy-right">
<<<<<<< HEAD
   <p> © 2016 invictus.com all rights reserved</p>
=======
   <p> Made by Freelancers for Freelancers © 2016 invictus.com </p>
>>>>>>> 6cdb8af1d69a03d900d74fbd1ee9dea95ac44dbd
 </div>
</div>
