
      <nav class="navbar navbar-default navbar-fixed-side">
        <!-- normal collapsible navbar markup -->
        <br>
        <ul>
          <li><%= link_to "Create Invoice", new_invoice_path, class: "btn btn-invoice" %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li> <%= link_to "Freelancer settings", edit_freelancer_path %></li>
          <li> <%= link_to "Freelance profile", freelancer_path %></li>
        </ul>

        <div>

        </div>
        <div>

        </div>
      </nav>
