<div id="welcomenavbar">
<div>
</div>
<p id="powered-by">Powered by Invictus ©</p>
<div class="text-center">
<% if current_user.nil? %>
 <h1>Welcome please sign in</h1>
<% else %>
  <h1>Welcome <%=  current_user.freelancer.first_name %> </h1>
  <% end %>
</div></div>