<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path '' %>);">
  <div class="banner-content">
    <h1>It's not about the payment</h1>
    <h3>It's about not worring about it</h3>
    <div class="tutorial text-center container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= link_to "Create Invoice", new_user_registration_path, :class => "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h2>Create and send your invoice</h2>
        <p>Client and freelancer agree to terms</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h2>Secure the payment from your client</h2>
        <p>Invictus secures the payment</p>
        <br>
        <p>Start to work when your client has deposit the money into Invictus account</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h2>Finish your project and get paid immediatly</h2>
        <p>
          The money gets release when the client apprevoes your project and the freelance receives the money as soon as the project is finished.
        </p>
      </div>
    </div>
  </div>
</div>
