.dashboard-wrapper{
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px lightgray;
  padding: 10px;
  margin-top: 120px;
  img{
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightgray;
  }
}

.invoice-wrapper{
  background-color: white;
  border-radius: 8px;
  padding-top: 9px;
  margin-bottom: 3px;
  padding-left: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 4px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .fa {
    color: #b7b7b7;
    &:hover {
      color: $brand-color;
    }
  }

}