.notif-wrapper{
  box-shadow: 1px 1px 1px lightgray;
  padding: 12px;
  li{
    color: grey;
    opacity: 0.8;
    list-style: none;
    padding: 3px;
  }
  .timestamp{
  opacity: 0.4;
  }
  #invoice-icon{
    margin-left: -18px;
  }
  #paperplane-icon{
    margin-left: -21px;
  }
  #trash-icon{
    margin-left: -17px;
  }
  #paid-icon{
    margin-left: -22px;
  }
  a{
    color: grey;
    opacity: 0.8;
  &:hover{
    opacity: 0.85;
    text-decoration: none;
    }
  .see-more{
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 11px;
    color: lightgray;
  }
  }
}

.dashboard-wrapper{
  margin-top: 5px;
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px lightgray;
  padding: 10px;
  margin-top: 70px;
  img{
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightgray;
  }
  #text{
    background-color: rgba(255, 249, 240, 0.43);
    border: 1px solid #c8c8c8;
    box-shadow: 1px 1px 3px lightgray;
  }
}

.invoice-wrapper{
  background-color: white;
  border-radius: 8px;
  padding-top: 9px;
  margin-bottom: 3px;
  padding-left: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 4px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .fa {
    color: #b7b7b7;
    &:hover {
      color: $brand-color;
    }
  }

}