.footer-container{
  background-color: #31081F;
}
#footer{
  padding: 30px 0px;
  height: auto;
  p{
    color: #E2E4F6;
    font-size: 14px;
    font-family: 'Source sans pro';
  }
  h4{
    color: white;
  }
  a{
    color: white;
    text-decoration: none;
     &:hover{
      color: white;
      opacity: 0.5;
      text-decoration: none;
    }
  }
  .li-social{
    height: 40px;
    font-size: 1.4em;
    a:hover{
      color: #F05D5E;
    }
  }
}
.socials{
  padding-top: 10px;
}
