.gray-wrapper {
  border-radius: 4px;
  box-shadow: 1px 1px 3px RGBA(61, 56, 61, 0.4);
  color: #3D383D;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  a {
    text-decoration: none;
  }
}
