.active{
  font-weight: bold;
  color: $gray-lighter;
}
.sidebar-title{
  color:white;
  padding: 30px 0px;
}
#sidebar{
  width: 17%;
  margin-top: 5px;
  background-color: $blue;
  text-align: center;
  box-shadow: 1px 1px 1px lightgray;
  border-radius: 2px;
  margin-left: -9px;
  margin-right: -9px;
  height: 100vh;
  position: fixed;
  #navlink{
    color: #F3F7F0;
  }
}

#logout-freelance{
    position: absolute;
    bottom: 17px;
    left: 30px;
    right: 30px;
    color: white;
}

#logout-freelance > a{
  color: $gray-lighter;
}

